<h1>Listing post1s</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Autor</th>
    <th>Descripciondellibro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post1s.each do |post1| %>
  <tr>
    <td><%= post1.Titulo %></td>
    <td><%= post1.Autor %></td>
    <td><%= post1.descripciondellibro %></td>
    <td><%= link_to 'Show', post1 %></td>
    <td><%= link_to 'Edit', edit_post1_path(post1) %></td>
    <td><%= link_to 'Destroy', post1, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post1', new_post1_path %>
